#root, body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(135deg, #000000, #0a0c13, #183bd9);
  background-size: 300% 300%;
  animation: gradientMove 20s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
display: none;
}



